.orderListContainer {
  margin: 10px;
  padding-left: 20px;
}
.orderList {
  display: flex;

  background-color: rgb(194, 170, 170);
  padding: 5px;
  margin-top: 10px;
  font-size: 15px;
  gap: 40px;
}
.orderDetailsList {
  display: flex;
  margin-left: 10px;
  align-items: center;
  gap: 45px;
}
.orderprice {
  display: flex;
  align-items: center;
  gap: 10px;
}
.closeorder {
  cursor: pointer;
}
.orderLogo {
  width: 25px;
  height: 25px;
}
.orderLogoDetails {
  display: flex;
  align-items: center;
}
.orderNames {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 2px;
}
.orderName {
  font-weight: bold;
  font-size: 12px;
}
.orderDescription {
  font-size: 8px;
  color: rgb(197, 170, 170);
}
.cartButtonContainer {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartButton {
  margin-top: 50px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 60px;
  background-color: rgb(194, 90, 90);
  cursor: pointer;
  color: white;
}
